n8n/workflows/order-placed.json
{
  "id": "2",
  "name": "Order placed",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-placed",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 320],
      "webhookId": "orderflow-order-placed"
    },
    {
      "parameters": {
        "jsCode": "// Verify the HMAC-SHA256 signature against the canonical (deeply-sorted-keys) JSON body.\n// Must match the Laravel HmacSigner exactly so signatures verify deterministically.\nconst crypto = require('crypto');\n\nfunction sortKeysDeep(value) {\n  if (Array.isArray(value)) return value.map(sortKeysDeep);\n  if (value && typeof value === 'object') {\n    const out = {};\n    for (const k of Object.keys(value).sort()) out[k] = sortKeysDeep(value[k]);\n    return out;\n  }\n  return value;\n}\n\nconst input = $input.first().json;\nconst body = input.body || {};\nconst headers = input.headers || {};\nconst providedSig = headers['x-orderflow-signature'] || '';\nconst secret = $env.ORDERFLOW_HMAC_SECRET || '';\n\nconst canonical = JSON.stringify(sortKeysDeep(body));\nconst expected = crypto.createHmac('sha256', secret).update(canonical).digest('hex');\n\nlet valid = false;\ntry {\n  valid = providedSig.length === expected.length && crypto.timingSafeEqual(\n    Buffer.from(providedSig, 'utf8'),\n    Buffer.from(expected, 'utf8'),\n  );\n} catch (e) {\n  valid = false;\n}\n\nreturn [{ json: { ...input, _hmacValid: valid, _hmacExpected: expected } }];"
      },
      "id": "node-verify-hmac",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "hmac-ok",
              "leftValue": "={{ $json._hmacValid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-valid",
      "name": "Signature valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [600, 320]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "orderId", "value": "={{ $json.body.order.id }}" },
            { "name": "orderRef", "value": "={{ $json.body.order.reference }}" },
            { "name": "customerEmail", "value": "={{ $json.body.order.customer.email }}" },
            { "name": "orderTotal", "value": "={{ $json.body.order.total }}" }
          ]
        },
        "options": {}
      },
      "id": "node-extract",
      "name": "Extract fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [820, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ORDERFLOW_API_BASE }}/{{ $json.orderId }}/automation-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.ORDERFLOW_API_TOKEN }}" },
            { "name": "Idempotency-Key", "value": "=order-{{ $json.orderId }}-webhook-received-{{ $execution.id }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"step\": \"webhook.received\",\n  \"status\": \"ok\",\n  \"payload\": { \"ref\": \"{{ $json.orderRef }}\" }\n}",
        "options": {}
      },
      "id": "node-log-received",
      "name": "Log webhook.received",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 240]
    },
    {
      "parameters": {
        "jsCode": "const ref = $('Extract fields').first().json.orderRef;\nconst invoiceNumber = 'INV-' + Date.now().toString().slice(-8) + '-' + Math.floor(Math.random() * 1000);\nreturn [{ json: { invoiceNumber, ref } }];"
      },
      "id": "node-generate-invoice",
      "name": "Generate invoice number",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 240]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.ORDERFLOW_API_BASE }}/{{ $('Extract fields').item.json.orderId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.ORDERFLOW_API_TOKEN }}" },
            { "name": "Idempotency-Key", "value": "=order-{{ $('Extract fields').item.json.orderId }}-invoice-{{ $execution.id }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"invoice_number\": \"{{ $json.invoiceNumber }}\"\n}",
        "options": {}
      },
      "id": "node-patch-order",
      "name": "Patch order with invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1480, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.ORDERFLOW_API_BASE }}/{{ $('Extract fields').item.json.orderId }}/automation-log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.ORDERFLOW_API_TOKEN }}" },
            { "name": "Idempotency-Key", "value": "=order-{{ $('Extract fields').item.json.orderId }}-invoice-logged-{{ $execution.id }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"step\": \"invoice.generated\",\n  \"status\": \"ok\",\n  \"payload\": { \"invoice_number\": \"{{ $('Generate invoice number').item.json.invoiceNumber }}\" }\n}",
        "options": {}
      },
      "id": "node-log-invoice",
      "name": "Log invoice.generated",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"received\": true,\n  \"order_id\": {{ $('Extract fields').item.json.orderId }},\n  \"invoice_number\": \"{{ $('Generate invoice number').item.json.invoiceNumber }}\"\n}",
        "options": {}
      },
      "id": "node-respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1920, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={\n  \"received\": false,\n  \"error\": \"hmac_invalid\",\n  \"expected\": \"{{ $json._hmacExpected }}\"\n}",
        "options": {}
      },
      "id": "node-respond-reject",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [820, 460]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Verify HMAC", "type": "main", "index": 0 }]]
    },
    "Verify HMAC": {
      "main": [[{ "node": "Signature valid?", "type": "main", "index": 0 }]]
    },
    "Signature valid?": {
      "main": [
        [{ "node": "Extract fields", "type": "main", "index": 0 }],
        [{ "node": "Respond 401", "type": "main", "index": 0 }]
      ]
    },
    "Extract fields": {
      "main": [[{ "node": "Log webhook.received", "type": "main", "index": 0 }]]
    },
    "Log webhook.received": {
      "main": [[{ "node": "Generate invoice number", "type": "main", "index": 0 }]]
    },
    "Generate invoice number": {
      "main": [[{ "node": "Patch order with invoice", "type": "main", "index": 0 }]]
    },
    "Patch order with invoice": {
      "main": [[{ "node": "Log invoice.generated", "type": "main", "index": 0 }]]
    },
    "Log invoice.generated": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  }
}
